@font-face {
    font-family: SixCaps-Regular;
    src: url(SixCaps-Regular.ttf);
}
@font-face {
    font-family: MateSC-Regular;
    src: url(MateSC-Regular.ttf);
}
@font-face {
    font-family: Taviraj-Regular;
    src: url(Taviraj-Regular.ttf);
}
@font-face {
    font-family: Merriweather-Regular;
    src: url(Merriweather-Regular.ttf);
}

h1 {
    font-family: 'MateSC-Regular';
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.5;
    padding-bottom: 2rem;
    color: #1f0e0a;
    margin-top: 2rem;
}
h2 {
    font-family: 'MateSC-Regular';
    font-size: 2rem;
    font-weight: bold;
    color: #1f0e0a;
    margin-bottom: 5%;
}
h3 {
    font-family: 'MateSC-Regular';
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
h5 {
    font-family: 'Taviraj-Regular';
    color: #0f140d;
    margin-bottom: 3rem;
    margin-top: 0.5rem;
}
h6 {
    font-family: 'Taviraj-Regular';
    color: #0f140d;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
}
p {
    font-family: 'Taviraj-Regular';
    color: #0f140d;
    font-size: 0.95rem;
}
hr {
    background-color: #0f140d;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
input {
    margin-bottom: 1.2rem;
}
label {
    font-family: 'Taviraj-Regular';
}
legend {
    font-family: 'Taviraj-Regular';
}
a:hover {
    text-decoration: none;
}
::placeholder {
    font-family: 'Taviraj-Regular';
}
.bookText{ 
    text-align: center;
}
.enter{
    font-family: 'SixCaps-Regular';
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #ffffff;
}
.enter:link, .enter:visited {
    background-color: transparent;
    text-decoration: none;
}
.enter:hover {
    color: #e0b6ab;
    background-color: transparent;
    text-decoration: none;
}
.subBtn {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.socBtn {
    background-color: #693224;
    border-color: #693224;
    color: #e1dea3;
    margin-top: 0.5rem;
}
.price {
    margin-bottom: 2rem;
}
.pw {
    margin-right: 20%;
    margin-left: 5%;
    padding-bottom: 5rem;
}
.bookBtn {
    margin-right: 1rem;
    margin-top: 3rem;
    font-family: 'SixCaps-Regular';
    background-color: #693224;
    border-color: #693224;
    letter-spacing: 1px;
    font-size:1.5rem;
    color: #f5f5f5;
    text-decoration: none;
}
.bookBtn:hover {
    background-color: #984834;
    border-color: #984834;
    text-decoration: none;
}
#pwBtn {
    margin-top: 0;
}
.form-group {
    white-space: pre-wrap;
}
.ctaBtn {
    font-family: 'SixCaps-Regular';
    background-color: #7a3a2a;
    border-color: #7a3a2a;
    letter-spacing: 1px;
    font-size:1.5rem;
    color: #f5f5f5;
}
.ctaBtn:hover, .socBtn:hover, .ctaBtn:not(:disabled):not(.disabled):active, .bookBtn:not(:disabled):not(.disabled):active, .socBtn:not(:disabled):not(.disabled):active {
    background-color: #984834;
    border-color: #984834;
}
.ctaBtn:not(:disabled):not(.disabled):focus, .bookBtn:not(:disabled):not(.disabled):focus, .socBtn:not(:disabled):not(.disabled):focus, .bookBtn:focus, .socBtn:not(:disabled):not(.disabled):active:focus, .bookBtn:not(:disabled):not(.disabled):active:focus, .ctaBtn:not(:disabled):not(.disabled):active:focus {
    background-color: #984834;
    border-color: #984834;
    box-shadow: none;
}
.quote {
    font-family: 'Merriweather-Regular';
    color: #f5f5f5;
    font-size: 1.1rem;
    white-space: pre-wrap;
}
.topBar {
    padding-left: 3%;
    padding-right: 1%;
}
.greeting {
    padding: 3% 15%
}
.navbar {
    padding-top: 0;
}
.navbar-dark .navbar-brand {
    font-family: 'SixCaps-Regular';
    font-size: 3.1rem;
    color: #dfd8cf;
}
.nav-link {
    font-family: 'SixCaps-Regular';
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #dfd8cf;
}
.nav-item {
    padding-right: 1rem;
    padding-left: 1rem;
}
.profile {
    position: absolute;
    width: 60%;
    border-radius: 100%;
    right: 23%;
}
.carousel-item {
    padding: 7% 20%; 
}
.carousel-item-active {
    padding: 7% 20%; 
}
.carousel-inner {
    padding-left: 10%;
    padding-right: 10%;
}
.carousel-control-prev {
    padding-left: 10%;
}
.carousel-control-next {
    padding-right: 10%;
}
.card {
    text-align: center;
    border-style: hidden;
    background-color: #f5f4e0;
}
.card-header {
    background-color: #f5f4e0;
    border-bottom-color: #e1dea3;
}
.pricePlans {
    padding-top: 4rem;
}
.contact {
    margin: 1rem 1rem;
    font-size: 1.2rem;
    color: #e6e3b2;
}
.contact:hover {
    color: #d3ce6f;
}
.parallax1 {
    background-image: url("bg1.jpg");
    min-height: 275px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    background-image: url("bg1.jpg");
    min-height: 225px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    background-image: url("bg1.jpg");
    min-height: 150px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.toglr {
    margin-top: 0;
}
.itemDesc {
    display: inline-block;
}
.hubLabel {
    margin-bottom: 2rem;
}
.contentList {
    margin-bottom: 1rem;
    padding-bottom: 0;
}
.greeting {
    color: #ffffff;
    margin-bottom: 4.5rem;
}
.posts {
    margin-top: 2rem;
}
.post p {
    height: 10rem;
    overflow: hidden;
}
.post a {
    display: inline-block;
    font-family: 'MateSC-Regular';
    font-weight: bold;
    color: #693224;
    text-decoration: none;
}
.post a:hover {
    color: #984834;
}
.post.showPost p {
	height: auto;
}
.footerText {
    font-family: 'SixCaps-Regular';
    color: #e6e3b2;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.videos {
    padding-top: 3rem;
}
.form-group {
    white-space: normal;
}
.postContent {
    white-space: pre-wrap;
}
#login {
    background-color: #e1dea3;
    padding-top: 2rem;
    padding-bottom: 9rem;
}
#splash {
    text-align: center;
    background-color: black;
    background-image: url("splash.jpg");
    background-size: cover;
    width: 100%;
    position: absolute;
    z-index: 9;
}
#splash h1 {
    font-size: 4.5rem;
    font-weight: normal;
    font-style: normal;
    padding-top: 8rem;
}
#controls {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #e1dea3;
}
#compose {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    background-color: #e1dea3;
}
#top {
    background: rgb(76,85,47);
    background: radial-gradient(circle, rgba(76,85,47,1) 0%, rgba(6,13,0,1) 50%);
}
#about {
    background-color: #e1dea3;
    padding-bottom: 8rem;
    padding-top: 3rem;
}
#quotes {
    position: relative;
    text-align: center;
    background-color: #8F5C29;
}
#pricing {
    padding: 6rem;
    text-align: center;
    background-color: #e1dea3;
}
#cta {
    background-color: #e6e3b2;
    text-align: center;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#footer {
    text-align: center;
    padding-bottom: 1%;
    background: rgb(121,71,44);
    background: radial-gradient(circle, rgba(121,71,44,1) 0%, rgba(13,4,0,1) 50%);
}
#learn {
    text-align: center;
    padding: 5% 15%;
    background-color: #e1dea3;
}
#learn .posts {
    text-align: initial;
}
#media {
    text-align: center;
    background-color: #e1dea3;
    padding-bottom: 8rem;
}
#post {
    white-space: pre-wrap;
}
#schedule {
    padding: 5% 15%;
    background-color: #e1dea3;
}
#quote {
    white-space: pre-wrap;
}

@media (max-width: 1000px) {
    #about {
        text-align: center;
        padding-bottom: 3rem;
    }
    #splash {
        background-image: url('mobsplash.jpg');
        height: 100vh;
    }
    #splash h1{
        font-size: 4rem;
        line-height: 1;
        padding-top: 0;
    }
    .profile {
        position: static;
        width: 60%;
        border-radius: 100%;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .card {
        margin-bottom: 1rem;
    }
    .quote {
        font-size: 0.9rem;
    }
}
@media (min-height: 800px) and (max-height: 900px) {
    #about {
        padding-bottom: 8.5rem;
    }
    #login {
        padding-bottom: 16.5rem;
    }
    .post p {
        height: 15rem;
    }
}
@media (min-height: 901px) and (max-height: 1299px) {
    #about {
        padding-bottom: 19.9rem;
    }
    #pricing {
        padding-bottom: 6.3rem;
    }
    #login {
        padding-bottom: 27.6rem;
    }
    .post p {
        height: 20rem;
    }
}
@media (min-height: 1300px) and (max-height: 2100px) {
    #about {
        padding-bottom: 42.55rem;
    }
    .profile {
        position: absolute;
        width: 50%;
        border-radius: 100%;
        right: 23%;
    }
    #pricing {
        padding-bottom: 26.5rem;
    }
    #login {
        padding-bottom: 49.7rem;
    }
    #schedule {
        padding-bottom: 12.6rem;
    }
    #learn {
        padding-bottom: 25.9rem;
    }
    #media {
        padding-bottom: 13.5rem;
    }
    .post p {
        height: 20rem;
    }
}
@media (min-height: 2500px) {
    #about {
        padding-bottom: 52.55rem;
    }
    #pricing {
        padding-bottom: 36.5rem;
    }
    #login {
        padding-bottom: 59.7rem;
    }
    #schedule {
        padding-bottom: 22.6rem;
    }
    #learn {
        padding-bottom: 35.9rem;
    }
    #media {
        padding-bottom: 23.5rem;
    }
}